{
    "presets": [
        [
            "env", {
                "modules": false,
                "targets": {
                    "browsers": [
                        "last 6 versions"
                    ]
                }
            }
        ],
        "stage-0",
        "react"
    ]
}